---
layout: default
---
{% include mathjax.html %}
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% assign my_var = 0 %}
    {% for post in site.related_posts %}
    {% if post.categories == page.categories %}
    {% assign my_var = my_var |plus:1 %}
<!--       <p> {{ my_var }} here2</p> -->
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
      {% endif %}
      
      {% if my_var>2 %}
        <!-- <p>break</p> -->
        {% break %}
      {% endif %}
      
      
    {% endfor %}
  </ul>
</div>
